{% extends "flatworld/layout.html" %}
{% load static %}

{% block body %}
    {% if changed_song %}
        <div class="page">
            <h1>Oryginalna Piosenka: </h1>
            {% for word in song_words %}
                <h3> {{ word }} </h3>
            {% endfor %}
            <h1> Zmieniona Piosenka: </h1>
            <h3> {{ changed_song }} </h3>
        </div>
    {% else %}
        <div class = "page" id="modal">
            <h1>Wyrządzasz psoty dla płaszczakowej piosenki...</h1>
            <h1> Pieśń: </h1>
            {% for word in song_words %}
                {% if word == "\n" %}
                    </br>
                {% else %}
                    <button class="btn" id="word-{{ forloop.counter }}">{{ word }}</button>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block script %}
<script src="{% static 'flatworld/song.js' %}" type="module"></script>
{% endblock %}